@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/vendor/@rocketsoftware/elements/scss/import-once/import-once';
@import '../../globals/scss/vars';

/// Data table sort styles
/// @access private
/// @group data-table
@mixin data-table-inline-filter {
    .#{$prefix}--table-inline-filter{
        
    }

    .#{$prefix}--table-inline-filter__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /// Icons
    .#{$prefix}--table-inline-filter__overflow {
        margin-left: 1rem;
    }



}

@include exports('data-table-inline-filter') {
    @include data-table-inline-filter;
  }
  