@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/theme';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layout';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/vendor/@rocketsoftware/elements/scss/import-once/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--font-face';
@import 'mixins';

.#{$prefix}--btn--split--container {
  .#{$prefix}--btn--split--overflow {
    width: 3rem;
    height: 3rem;
    background-color: $interactive-01;
    margin-left: 1px;
    border-radius: $button-border-radius;
    border-color: transparent;
    outline: $button-outline-width solid transparent;
    outline-offset: -4px;
    box-shadow: unset;
    transition: background-color $duration--fast-01 motion(standard, productive);

    &:hover {
      background-color: $hover-primary;
      fill: $text-04;
    }

    &:active {
      border: 3px solid $focus;
      background-color: $active-primary;
      outline-color: $ui-02;
    }

    &:focus {
      border: 3px solid $focus;
      outline-color: $ui-02;
    }

    svg {
      fill: $icon-03;
      &:active {
        transform: rotate(-180deg);
      }
    }
  }

  .#{$prefix}--btn--split--overflow__open {
    svg {
      transform: rotate(-180deg);
      transition: transform $duration--slow-01 motion(standard, productive);
    }
  }

  .#{$prefix}--btn--split--overflow__close {
    svg {
      transform: rotate(180deg);
      transition: transform $duration--slow-01 motion(standard, productive);
    }
  }
}

.#{$prefix}--overflow-menu-options--container {
  width: 13.75rem;
  &::after {
    display: none;
  }

  .#{$prefix}--overflow-menu-options__btn {
    max-width: unset;
  }
}
